{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>


  </head>
  <body>




    <div>
      <strong>Menu LOL:</strong>
      <ul>

        <li><a href="/accounts/login/">Sign In</a></li>
        <li><a href="/accounts/signup/">Sign Up</a></li>

      </ul>
    </div>


<h1>Sign In</h1>




<p>Please sign in with one
of your existing third party accounts. Or, <a href="/accounts/signup/">sign up</a>
for a 127.0.0.1:8000 account and sign in below:</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">






<li>
  <a title="Google" class="socialaccount_provider google"
     href="/accounts/google/login/?process=login">Google</a>
</li>


  </ul>

  <div class="login-or">or</div>

</div>








<form class="login" method="POST" action="/accounts/login/">
  <input type="hidden" name="csrfmiddlewaretoken" value="fkSW4Y4xbmSYEZLAfMr4l9MQs9pOC2rw2uAvrYPL2fxX15eL3ZoGHH22cemWaZZf">
  <p>
    <label for="id_login">Username:</label>
    <input type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" required id="id_login">


  </p>


  <p>
    <label for="id_password">Password:</label>
    <input type="password" name="password" placeholder="Password" autocomplete="current-password" required id="id_password">


  </p>


  <p>
    <label for="id_remember">Remember Me:</label>
    <input type="checkbox" name="remember" id="id_remember">




  </p>

  <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a>
  <button class="primaryAction" type="submit">Sign In</button>
</form>





  </body>
</html>
