{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>


  </head>
  <body>




    <div>
      <strong>Menu:</strong>
      <ul>

        <li><a href="/accounts/login/">Sign In</a></li>
        <li><a href="/accounts/signup/">Sign Up</a></li>

      </ul>
    </div>


    <h1>Password Reset POOP</h1>


    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="/accounts/password/reset/" class="password_reset">
        <input type="hidden" name="csrfmiddlewaretoken" value="90XWh8nLCYBpLl2LnddYiZmG7dz5dW7DWaFvE88ZtRgo8rvWbqaAExCSRiwdLTFm">
        <p>
    <label for="id_email">E-mail:</label>
    <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email">




  </p>
        <input type="submit" value="Reset My Password" />
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>




  </body>
</html>
