{% load i18n %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}

<style>
    * {
        margin: 0;
        padding: 5px;
    }

    body {
        font-family: 'Poppins', sans-serif;
        color: #CAD5CA;
        background: #2a2a3b;
    }

    main {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
        color: #CAD5CA;
    }


    input {
        background: transparent;
        align-items: center;
        width: 500px;
        height: 25px;
        margin: 0 auto;
        outline: 0;
        border-width: 0 0 1px;
        border-color: #8075FF;
    }

    input, select, textarea {
        color: #edf0f1;
    }

    input::placeholder {
        color: #746B76;
    }

    input:focus {
        border-color: #d2d4d5;
    }

    button {
        background: #333;
        color: #d2d4d5;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 40px;
        font-size: 1rem;
        cursor: pointer;
        height: 40px;
        font-weight: 600;
    }

    button:hover {
        color: #8075FF;
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    }

    strong {
        transform: translateX(100%);
        padding: 1rem;
    }

    li {
        align-items: center;
        text-align: center;
        justify-content: center;
        list-style: none;
        padding: 1rem;
        border: 1px solid #8075FF;
        border-radius: 4px;
        background-color: #8075FF;
        margin: 1rem 0;
    }

    li a {
        color: #6320EE;
    }
</style>