{% block nav %}{% include 'base/navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<div>
    <div class="courseBox" style="height: 10px;">
        <h1 class="coursesTitle">Courses</h1>
    </div>
    {% for i in response %}
        <strong>{{ i }} </strong>
    {% endfor %}

    <div style="height: 10px;"></div>
    <form action="{% url 'base:search_results' %}" method="get">
        <input class="inputText" name="q" type="text" placeholder="Search for a course...">
        <button class="submitButton" type="submit">Submit</button>
    </form>
</div>

{#<form action="/search_results" method="get">#}
{#        <input class="inputText" name="q" type="text" placeholder="Search for a course..." required>#}
{#        <button class="submitButton" type="submit">Submit</button>#}
{#    </form>#}


