{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Me</title>
    <link rel="icon" type="image/x-icon" href={% static "base/images/uva.png" %}>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="navHeader">
        <div class="wrapper">
            <div class="logo1">
                <a href="/"><img src={% static "base/images/uva.png" %}></a>
            </div>
            <div class="navbar1">
                <div class="close-nav">
                    <button>×</button></div>
                <nav>
                    <ul>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="menu-bar">
                <button><i></i></button>
            </div>
        </div>
    </header>
</body>
</html>