{% block nav %}{% include 'base/navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<div class="d-flex flex-column align-items-center">
    <div class="loginBox" style="height: 10px;">
        <h1 class="loginPageTitle">Login Page</h1>
    </div>
</div>

<style>
.vl {
}
</style>

<div class="vl"></div>

{% load socialaccount %}
{% if user.is_authenticated %}
    <body>
    <div class="d-flex flex-column align-items-center">
        <p>You are currently logged in as {{ user.username }}</p>
        <p>Select Your Role:</p>
        <form action="#" method="get">
            <input class="btn btn-primary" type="submit" class="btn" value="student" name="student">
            <input class="btn btn-primary" type="submit" class="btn" value="tutor" name="tutor">
        </form>
        <a href="/logout">Logout</a>
    </div>
    </body>

{% else %}
 <div class="GoogleButton">
  <div class="col-md-3">
    <a class="btn btn-outline-light" href="/users/googleauth" role="button" style="text-transform:none">
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Login with Google
    </a>
  </div>
</div>

<!-- Minified CSS and JS -->
<link   rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>
{% endif %}