{% block nav %}{% include 'base/general_.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<div class="d-flex flex-column align-items-center">
  <div style="height: 10px;"></div>
  <h1>Login Page</h1>
  <div style="height: 10px;"></div>
</div>

{% load socialaccount %}
{% if user.is_authenticated %}
  <body>
    <div class="d-flex flex-column align-items-center">
      <p>You are currently logged in as {{ user.username }}</p>
      <p>Select Your Role:</p>
      <form action="#" method="get">
        <input class="btn btn-primary" type="submit" class="btn" value="student" name="student">
        <input class="btn btn-primary" type="submit" class="btn" value="tutor" name="tutor">
      </form>
      <a href="/logout">Logout</a>
    </div>
  </body>
  
{% else %}
  <body>
    <div class="d-flex flex-column align-items-center">
      <a href="{% provider_login_url 'google' %}">Login With Google</a>
    </div>
  </body>
{% endif %}

