{% block nav %}{% include 'base/student_navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">

<div class="d-flex flex-column align-items-center">
    <div style="height: 10px;"></div>
    <h1>Tutors Available for Course</h1>
    {% for tutor in tutors %} 
    <div class="text-center mt-2 col-md-12">
        <ol>
            <p>{{tutor.username}}</p>
        </ol>
    </div>
    {% endfor %}
    </form>
    <div style="height: 10px;"></div>
</div>
