{% block nav %}{% include 'base/tutor_navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<div class="d-flex flex-column align-items-center">
    <div style="height: 10px;"></div>
    
    <h3>Your Posted Courses for Tutoring:</h3>
    {% for course in tutor_courses %} 
    <div class="text-center mt-2 col-md-12">
        <ol>
            <p>{{course.mnem}} {{course.num}} {{course.descr}}</p>
        </ol>
    </div>
    {% endfor %}

</div>