{% block nav %}{% include 'base/tutor_navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">

<div class="d-flex flex-column align-items-center">
    <h1 style="color:aliceblue;">Post Hourly Rate:</h1>
    <i><FONT COLOR="WHITE">Make sure to post a valid rate</FONT></i>
    <form method="post">
        <table style="color:aliceblue;">
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

</div>
